.Rproj.user
.Rhistory
.RData
.Ruserdata
Apps_2023/data_entry/.secrets
Apps_2023/log/app_cache
Apps_2023/data_entry/app_cache
ssh_key_123
Apps_2023/log/.secrets
Apps_2023/log_bigscreen/app_cache
Apps_2023/log_bigscreen/.secrets
Apps_2024/log/.secrets
Apps_2024/log/app_cache
Apps_2024/log_bigscreen/app_cache
Apps_2024/log_bigscreen/.secrets
Apps_2024/data_entry/.secrets
Apps_2024/data_entry/app_cache
Apps_2024/judge_review/.secrets
Apps_2024/judge_review/app_cache
results.csv
teamresults.csv